<!-- about section Start-->
<section class="event video-sec about bg bg-med bg-reel">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <h1 class="text-white text-center">Nuestra Historia</h1>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </div>
            </div>
        </div>
        <!-- <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="title title3">
                        <div class="main-title">
                            <h2 class=" text-white">Sobre Nosotros</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 offset-xl-1 col-lg-7 col-md-6">
                    <div class="abouts center-text">
                        <div class="format">
                            <div class="format-small-text">
                                <h6 class="text-white borders-before text-uppercase"><span>Somos parque E</span></h6>
                            </div>
                            <div class="format-head-text">
                                <h3 class="about-font-header text-white">Emprendimientos de alto impacto</h3>
                            </div>
                            <div class="format-sub-text">
                                    <p class="about-para p-light">Somos una <strong>incubadora universitaria de emprendimientos de alto impacto</strong>, <strong>basados en conocimiento y con alto potencial de crecimiento</strong>, dedicada a poner en marcha proyectos empresariales y a fortalecer empresas de reciente creación, que se proyectan como dinamizadores de la región.</p>
                            </div>
                            <a class="btn btn-default " href="/somos">Ver Mas</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </section>
<!-- about section end-->
