<section class="event team-sec team-grid speaker set-relative" id="speaker">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 speker-container">
                <div class="text-center d-flex">
                    <div class="team-img ">
                        <img src="assets/images/event/equipo/alejandromazo.jpg" width="292" height="292" alt="" class="img-fluid">
                        <div class="overlay"></div>
                        <div class="social">
                            <ul>
                                <li>
                                    <a href="javascript:void()">
                                        <i class="fa fa-linkedin center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="employee">
                        <h5 class="e-name text-center">Alejandro Mazo Patiño</h5>
                        <h6 class="post text-center ">Coordinador de Emprendimiento</h6>
                        <p class="team-para">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1 speker-container">
                <div class="text-center d-flex">
                    <div class="team-img">
                        <img src="assets/images/event/equipo/manueltamayo.jpg" width="292" height="292" alt="" class="img-fluid">
                        <div class="overlay"></div>
                        <div class="social">
                            <ul>
                                <li>
                                    <a href="javascript:void()">
                                        <i class="fa fa-linkedin center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="employee">
                        <h5 class="e-name text-center">Manuel Felipe Tamayo Díez</h5>
                        <h6 class="post text-center ">Líder de Incubación</h6>
                        <p class="team-para">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1 speker-container">
                <div class="text-center d-flex">
                    <div class="team-img">
                        <img src="assets/images/event/equipo/alexandragallego.jpg" width="292" height="292" alt="" class="img-fluid">

                        <div class="overlay"></div>
                        <div class="social">
                            <ul>
                                <li>
                                    <a href="javascript:void()">
                                        <i class="fa fa-linkedin center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="employee">
                        <h5 class="e-name text-center">Alexandra Gallego Lopera</h5>
                        <h6 class="post text-center ">Desarrollador de Negocios</h6>
                        <p class="team-para">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1 speker-container">
                <div class="text-center d-flex">
                    <div class="team-img">
                        <img src="assets/images/event/equipo/libardocastellanos.jpg" width="292" height="292" alt="" class="img-fluid">
                        <div class="overlay"></div>
                        <div class="social">
                            <ul>
                                <li>
                                    <a href="javascript:void()">
                                        <i class="fa fa-linkedin center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="employee">
                        <h5 class="e-name text-center">Libardo Castellanos Serna</h5>
                        <h6 class="post text-center ">Desarrollador de Negocios</h6>
                        <p class="team-para">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1 speker-container">
                <div class="text-center d-flex">
                    <div class="team-img">
                        <img src="assets/images/event/equipo/migueltirado.jpg" width="292" height="292" alt="" class="img-fluid">
                        <div class="overlay"></div>
                        <div class="social">
                            <ul>
                                <li>
                                    <a href="javascript:void()">
                                        <i class="fa fa-linkedin center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="employee">
                        <h5 class="e-name text-center">Miguel Fernando Tirado Bustamante</h5>
                        <h6 class="post text-center ">Desarrollador de Negocios</h6>
                        <p class="team-para">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1 speker-container">
                <div class="text-center d-flex">
                    <div class="team-img">
                        <img src="assets/images/event/equipo/luisbotero.jpg" width="292" height="292" alt="" class="img-fluid">
                        <div class="overlay"></div>
                        <div class="social">
                            <ul>
                                <li>
                                    <a href="javascript:void()">
                                        <i class="fa fa-linkedin center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="employee">
                        <h5 class="e-name text-center">Luis Felipe Botero Osorio</h5>
                        <h6 class="post text-center ">Desarrollador de Negocios</h6>
                        <p class="team-para">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1 speker-container">
                    <div class="text-center d-flex">
                        <div class="team-img">
                            <img src="assets/images/event/equipo/angelalondono.jpg" width="292" height="292" alt="" class="img-fluid">
    
                            <div class="overlay"></div>
                            <div class="social">
                                <ul>
                                    <li>
                                        <a href="javascript:void()">
                                            <i class="fa fa-linkedin center-content" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="employee">
                            <h5 class="e-name text-center">Ángela María Londoño Bedoya</h5>
                            <h6 class="post text-center ">Desarrollador de Negocios</h6>
                            <p class="team-para">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                galley of type and scrambled it to make a type specimen book.
                            </p>
                        </div>
                    </div>
            </div>
            <div class="col-lg-10 offset-lg-1 speker-container">
                    <div class="text-center d-flex">
                        <div class="team-img">
                            <img src="assets/images/event/equipo/estefaniaochoa.jpg" width="292" height="292" alt="" class="img-fluid">
    
                            <div class="overlay"></div>
                            <div class="social">
                                <ul>
                                    <li>
                                        <a href="javascript:void()">
                                            <i class="fa fa-linkedin center-content" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="employee">
                            <h5 class="e-name text-center">Estefanía Ochoa Henao</h5>
                            <h6 class="post text-center ">Desarrollador de Negocios</h6>
                            <p class="team-para">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                galley of type and scrambled it to make a type specimen book.
                            </p>
                        </div>
                    </div>
            </div>
            <div class="col-lg-10 offset-lg-1 speker-container">
                    <div class="text-center d-flex">
                        <div class="team-img">
                            <img src="assets/images/event/equipo/cesarruiz.jpg" width="292" height="292" alt="" class="img-fluid">
    
                            <div class="overlay"></div>
                            <div class="social">
                                <ul>
                                    <li>
                                        <a href="javascript:void()">
                                            <i class="fa fa-linkedin center-content" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="employee">
                            <h5 class="e-name text-center">César Augusto Ruíz Gómez</h5>
                            <h6 class="post text-center ">Desarrollador de Negocios</h6>
                            <p class="team-para">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                galley of type and scrambled it to make a type specimen book.
                            </p>
                        </div>
                    </div>
            </div>
            <div class="col-lg-10 offset-lg-1 speker-container">
                    <div class="text-center d-flex">
                        <div class="team-img">
                            <img src="assets/images/event/equipo/carolinamontoya.jpg" width="292" height="292" alt="" class="img-fluid">
    
                            <div class="overlay"></div>
                            <div class="social">
                                <ul>
                                    <li>
                                        <a href="javascript:void()">
                                            <i class="fa fa-linkedin center-content" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="employee">
                            <h5 class="e-name text-center">Carolina María Montoya Restrepo</h5>
                            <h6 class="post text-center ">Desarrollador de Negocios</h6>
                            <p class="team-para">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                galley of type and scrambled it to make a type specimen book.
                            </p>
                        </div>
                    </div>
            </div>
            <div class="col-lg-10 offset-lg-1 speker-container">
                    <div class="text-center d-flex">
                        <div class="team-img">
                            <img src="assets/images/event/equipo/silviaospina.jpg" width="292" height="292" alt="" class="img-fluid">
    
                            <div class="overlay"></div>
                            <div class="social">
                                <ul>
                                    <li>
                                        <a href="javascript:void()">
                                            <i class="fa fa-linkedin center-content" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="employee">
                            <h5 class="e-name text-center">Silvia Denis Ospina Higuita</h5>
                            <h6 class="post text-center ">Desarrollador de Negocios</h6>
                            <p class="team-para">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                galley of type and scrambled it to make a type specimen book.
                            </p>
                        </div>
                    </div>
            </div>
            <div class="col-lg-10 offset-lg-1 speker-container">
                    <div class="text-center d-flex">
                        <div class="team-img">
                            <img src="assets/images/event/equipo/juanarango.jpg" width="292" height="292" alt="" class="img-fluid">
    
                            <div class="overlay"></div>
                            <div class="social">
                                <ul>
                                    <li>
                                        <a href="javascript:void()">
                                            <i class="fa fa-linkedin center-content" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="employee">
                            <h5 class="e-name text-center">Juan Diego Arango Gaviria</h5>
                            <h6 class="post text-center ">Desarrollador de Negocios</h6>
                            <p class="team-para">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                galley of type and scrambled it to make a type specimen book.
                            </p>
                        </div>
                    </div>
            </div>
            <div class="col-lg-10 offset-lg-1 speker-container">
                <div class="text-center d-flex">
                    <div class="team-img">
                        <img src="assets/images/event/equipo/carlosvelez.jpg" width="292" height="292" alt="" class="img-fluid">

                        <div class="overlay"></div>
                        <div class="social">
                            <ul>
                                <li>
                                    <a href="javascript:void()">
                                        <i class="fa fa-linkedin center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="employee">
                        <h5 class="e-name text-center">Carlos Eduardo Vélez Mejía</h5>
                        <h6 class="post text-center ">Team Leader - otstrab</h6>
                        <p class="team-para">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1 speker-container">
                <div class="text-center d-flex">
                    <div class="team-img">
                        <img src="assets/images/event/equipo/danielavelez.jpg" width="292" height="292" alt="" class="img-fluid">

                        <div class="overlay"></div>
                        <div class="social">
                            <ul>
                                <li>
                                    <a href="javascript:void()">
                                        <i class="fa fa-linkedin center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="employee">
                        <h5 class="e-name text-center">Daniela María Vélez Molina</h5>
                        <h6 class="post text-center ">Profesional Jr. Incubación</h6>
                        <p class="team-para">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1 speker-container">
                <div class="text-center d-flex">
                    <div class="team-img">
                        <img src="assets/images/event/equipo/johanamunoz.jpg" width="292" height="292" alt="" class="img-fluid">

                        <div class="overlay"></div>
                        <div class="social">
                            <ul>
                                <li>
                                    <a href="javascript:void()">
                                        <i class="fa fa-linkedin center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="employee">
                        <h5 class="e-name text-center">Johana Andrea Muñoz Velazquéz</h5>
                        <h6 class="post text-center ">Auxiliar Técnica</h6>
                        <p class="team-para">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1 speker-container">
                <div class="text-center d-flex">
                    <div class="team-img">
                        <img src="assets/images/event/equipo/margothadarve.jpg" width="292" height="292" alt="" class="img-fluid">

                        <div class="overlay"></div>
                        <div class="social">
                            <ul>
                                <li>
                                    <a href="javascript:void()">
                                        <i class="fa fa-linkedin center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="employee">
                        <h5 class="e-name text-center">Margoth Estéfany Adarve Vásquez</h5>
                        <h6 class="post text-center ">Auxiliar Técnica</h6>
                        <p class="team-para">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
