<!--footer start-->
<footer class="gym footer2">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 set-first">
                <div class="logo-sec">
                    <div class="footer-title mobile-title">
                        <h3 class="text-white">About Us</h3>
                    </div>
                    <div class="footer-contant">
                        <img src="assets/images/logo/1.png" alt="" class="img-fluid footer-logo">
                        <div class="footer-para">
                            <h6 class="text-white para-address">unice</h6>
                            <h6 class="text-white para-address">324 Madison Street New york City, </h6>
                            <h6 class="text-white para-address">NY 10001.</h6>
                        </div>
                        <ul class="d-flex footer-social social">
                            <li class="footer-social-list">
                                <a href="javascript:void()"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </li>
                            <li class="footer-social-list">
                                <a href="javascript:void()"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            </li>
                            <li class="footer-social-list">
                                <a href="javascript:void()"><i class="fa fa-google" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12">
                <div class="footer-title mobile-title">
                    <h3 class="text-white">services</h3>
                </div>
                <div class="footer-contant">
                    <h5 class="footer-headings">services</h5>
                    <div>
                        <ul class="footer-lists op-text">
                            <li class="">
                                <a href="javascript:void()">Portfolio Website</a>
                            </li>
                            <li class="">
                                <a href="javascript:void()">Set up an account</a>
                            </li>
                            <li class="">
                                <a href="javascript:void()">Invoice Creation</a>
                            </li>
                            <li class="">
                                <a href="javascript:void()">Get Our Specials</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12">
                <div class="footer-title mobile-title">
                    <h3 class="text-white">brand</h3>
                </div>
                <div class="footer-contant">
                    <h5 class="footer-headings">brand</h5>
                    <div>
                        <ul class="footer-lists op-text">
                            <li class="">
                                <a href="javascript:void()">Chat24</a>
                            </li>
                            <li class="">
                                <a href="javascript:void()">Zoom</a>
                            </li>
                            <li class="">
                                <a href="javascript:void()">Alpha Payment</a>
                            </li>
                            <li class="">
                                <a href="javascript:void()">Upwork</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12">
                <div class="footer-title mobile-title">
                    <h3 class="text-white">Support</h3>
                </div>
                <div class="footer-contant">
                    <h5 class="footer-headings">Support</h5>
                    <div>
                        <ul class="footer-lists op-text">
                            <li class="">
                                <a href="javascript:void()">For Freelancers</a>
                            </li>
                            <li class="">
                                <a href="javascript:void()">For Companies</a>
                            </li>
                            <li class="">
                                <a href="javascript:void()">For Business</a>
                            </li>
                            <li class="">
                                <a href="javascript:void()">General Help</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 set-last">
                <div class="footer-title mobile-title">
                    <h3 class="text-white">Post Tags</h3>
                </div>
                <div class="footer-contant">
                    <h5 class="footer-headings">Post Tags</h5>
                    <div class="link-btns">
                        <ul>
                            <li class="buttons">
                                <a href="javascript:void()">app</a>
                            </li>
                            <li class="buttons">
                                <a href="javascript:void()">business</a>
                            </li>
                            <li class="buttons">
                                <a href="javascript:void()">corporation</a>
                            </li>
                            <li class="buttons">
                                <a href="javascript:void()">creative</a>
                            </li>
                            <li class="buttons">
                                <a href="javascript:void()">design</a>
                            </li>
                            <li class="buttons">
                                <a href="javascript:void()">fashion</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>
<!--footer end-->
<app-tap-to-top></app-tap-to-top>
