<!-- header section Start-->
<section class="saas1 header" id="home">
    <div class="saas1-header bg header8-content">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="center-text">
                        <div>
                            <div class="header-text">
                                <div class="d-flex">
                                    <h1><span class="theme-color">S</span>imple <span class="small-text">and
                                        </span><span class="theme-color">S</span>mart</h1>
                                    <div class="center-content slider-logo">
                                        <img src="assets/images/saas1/slider-logo.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="header-sub-text">
                                <h3 class="text-white">Landing Page Templates For<span> SaaS</span> Companies</h3>
                            </div>
                            <div class="header-sub-text">
                                <h6>For as low as<span class="theme-color"> $0.95 </span>per user account</h6>
                            </div>
                            <div class="link-horizontal">
                                <ul>
                                    <li>
                                        <a class="btn btn-default primary-btn transparent">watch demo<img
                                                src="assets/images/saas1/video-icon.png" alt="video-icon"
                                                class="m-l-5"></a>
                                    </li>
                                    <li>
                                        <a class="btn btn-default primary-btn transparent">start now</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="center-text slider-banner">
                        <img src="assets/images/saas1/slider-laptop2.png" alt="slid-banner">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/images/saas1/background2.png" class="img-fluid set-abs background" alt="">
    <img src="assets/images/saas1/dot.png" class="img-fluid set-abs dot" alt="">
</section>
<!-- header section end-->