<app-ecommerce-header></app-ecommerce-header>
<div class="layout-ecommerce">
<app-ecommerce-banner-slider></app-ecommerce-banner-slider>
<app-ecommerce-product-slider [products]="products"></app-ecommerce-product-slider>
<app-ecommerce-parallax-banner></app-ecommerce-parallax-banner>
<app-ecommerce-product-tab></app-ecommerce-product-tab>
<app-ecommerce-down-banner></app-ecommerce-down-banner>
<app-ecommerce-recent-story></app-ecommerce-recent-story>
<app-ecommerce-footer></app-ecommerce-footer>
</div>