<!--footer start-->
<footer class="event bg bg-footer bg-color" id="contact">
    <div class="container footer-padding">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="logo-sec">
                    <div class="footer-title mobile-title p-t-0">
                        <h3 class="text-white">Datos de Contacto:</h3>
                    </div>
                    <div class="footer-contant">
                        <img src="assets/images/logo/parqueeblanco.png" alt="" class="img-fluid footer-logo">
                        <div class="footer-para">
                            <h6 class="text-white para-address">Calle 70 # 52 - 72, Medellín</h6>
                            <h6 class="text-white para-address">Edificio de Extensión UdeA</h6>
                            <h6 class="text-white para-address">info@parquedelempredimiento.com</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="footer-title mobile-title">
                    <h3 class="text-white">Recursos</h3>
                </div>
                <div class="footer-contant">
                    <h5 class="footer-headings text-white">Recursos</h5>
                    <div>
                        <ul class="footer-lists">
                            <li>
                                <p><br/></p>
                            </li>
                            <li class="">
                                <a href="javascript:void()">Noticias</a>
                            </li>
                            <li class="">
                                <a href="javascript:void()">Capsulas de Emprendimiento</a>
                            </li>
                            <li class="">
                                <a href="javascript:void()">Banco de Oportunidades</a>
                            </li>
                            <li class="">
                                <a href="javascript:void()">Nuestras Historias</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-12">
                <div class="footer-title mobile-title">
                    <h3 class="text-white">Información</h3>
                </div>
                <div class="footer-contant">
                    <h5 class="footer-headings text-white">Información</h5>
                    <div>
                        <ul class="footer-lists">
                            <li>
                                <p><br/></p>
                            </li>
                            <li class="">
                                <a href="/somos">Somos</a>
                            </li>
                            <li class="">
                                <a href="/historia">Historia</a>
                            </li>
                            <li class="">
                                <a href="/equipo">Equipo</a>
                            </li>
                            <li class="">
                                <a href="/registrate">Regístrate</a>
                            </li>
                            <li class="">
                                <a href="javascript:void()">Terminos y Condiciones</a>
                            </li>
                            <li class="">
                                <a href="javascript:void()">Politicas de Privacidad</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="footer-title mobile-title">
                    <h3 class="text-white">Subscribete a nuestro newsletter</h3>
                </div>
                <div class="footer-contant">
                    <h5 class="text-white footer-headings">Subscribete a nuestro newsletter</h5>
                    <div class="form-group">
                        <p><br/></p>
                        <input type="text" class="form-control" id="usr" placeholder="email address" />
                        <a href=""><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-md-6">
                    <div class="link-horizontal d-flex align-content-lg-center h-100">
                        <ul>
                            <li>
                                <a href="javascript:void()" class="center-content">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void()" class="center-content">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void()" class="center-content">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void()" class="center-content">
                                    <i class="fa fa-google" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <br/>
                    <p class="copyright-text text-right text-white">© 2019 Parque del Emprendimiento</p>
                </div>
            </div>
    </div>
</footer>
<!--footer end-->
<app-tap-to-top></app-tap-to-top>