<app-event-nav></app-event-nav>
<!-- <app-event-subscribe></app-event-subscribe> -->
<app-event-navbg></app-event-navbg>
<app-event-header></app-event-header>
<app-event-booking></app-event-booking>
<app-event-about></app-event-about>
<app-event-sponsor></app-event-sponsor>
<app-event-testimonial></app-event-testimonial>
<app-event-counter></app-event-counter>
<!-- <app-event-speaker></app-event-speaker> -->
<app-parque-equipo></app-parque-equipo>
<!-- <app-event-schedule></app-event-schedule> -->
<!-- <app-event-subscribe></app-event-subscribe> -->
<!-- <app-event-gallery></app-event-gallery> -->
<!-- <app-event-pricing></app-event-pricing> -->
<app-event-blog></app-event-blog>
<app-registrate-booking></app-registrate-booking>
<app-event-contact></app-event-contact>
<app-event-footer></app-event-footer>
<!-- <app-event-copyright></app-event-copyright> -->
<!-- <app-event-video></app-event-video> -->