
<!--copyright section start-->
<section class="event bg bg-img2 bg-color">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="title title3">
                        <div class="main-title">
                            <h2></h2>
                        </div>
                        <div class="sub-title">
                            <P></P>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
