<!-- about section Start-->
<section class="event about bg bg-charla bg-color">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="title title3">
                    <div class="main-title">
                        <h2 class=" text-white">Sobre Nosotros</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-right">
                    <div class="announcer-img">
                        <img src="assets/images/event/1.jpg" alt="" class="img-fluid">
                        <img src="assets/images/event/1.jpg" alt="" class="img-fluid">
                        <img src="assets/images/event/l3.jpg" alt="" class="img-fluid" aTilt data-tilt data-tilt-max="10"
                             data-tilt-speed="50" data-tilt-perspective="1200">
                    </div>
                </div>
            </div>
            <div class="col-xl-5 offset-xl-1 col-lg-7 col-md-6">
                <div class="abouts center-text">
                    <div class="format">
                        <div class="format-small-text">
                            <h6 class="text-white borders-before text-uppercase"><span>Somos parque E</span></h6>
                        </div>
                        <div class="format-head-text">
                            <h3 class="about-font-header text-white">Emprendimientos de alto impacto</h3>
                        </div>
                        <div class="format-sub-text">
                            <!-- <p class="about-para p-light">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                            <p class="about-para p-light">When an unknown printer took a galley of type and scrambled it
                                to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum has been the industry's</p> -->
                                <p class="about-para p-light">Somos una <strong>incubadora universitaria de emprendimientos de alto impacto</strong>, <strong>basados en conocimiento y con alto potencial de crecimiento</strong>, dedicada a poner en marcha proyectos empresariales y a fortalecer empresas de reciente creación, que se proyectan como dinamizadores de la región.</p>
                        </div>
                        <a class="btn btn-default " href="/somos">Ver Mas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about section end-->
