<!-- booking Start-->
<section class="event booking set-relative" id="register">
    <div class="circle">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="title title3">
                    <div class="main-title">
                        <h2><span>Pre-inscribete</span> ahora</h2>
                    </div>
                    <div class="sub-title">
                        <P>Registra tus datos y te estaremos contactando para que hagas parte de 
                            <span>una de las incubadoras top</span> a nivel mundial, con <span>los mejores asesores</span> 
                            a tu disposición.</P>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <form class="form-inline m-b-50">
                    <div class="col">
                        <div class="form-group">
                            <input type="text" placeholder="Nombre">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <input type="text" placeholder="Apellido">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <input type="text" placeholder="Email">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <input type="text" placeholder="Telefono">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <input type="text" placeholder="Emprendimiento">
                        </div>
                    </div>
                </form>

                <div class="text-center">
                    <a class="btn btn-default primary-btn m-0-auto" href="javascript:void()">registrar</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- booking end-->
