<!-- about section Start-->
<!-- <section class="gym format" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text-center center-content">
                    <div class="about-img">
                        <div class="borders-around">
                            <div>
                                <div class="bg-black"></div>
                            </div>
                            <img src="assets/images/gym/l5.png" alt="" class="img-fluid format-img">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="center-text">
                    <div>
                        <div class="format-small-text">
                            <h6 class="font-primary borders-before"><span>our progress</span></h6>
                        </div>
                        <div class="format-head-text">
                            <h3 class="about-font-header gradient-text">about us</h3>
                        </div>
                        <div class="format-sub-text">
                            <p class="p-light about-para">Lorem Ipsum is simply dummy text of the printing and
                                typesetting
                                industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s.</p>
                            <p class="p-light about-para">When an unknown printer took a galley of type and scrambled it
                                to make
                                a type specimen
                                book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry.</p>
                        </div>
                        <a href="javascript:void(0)" class="btn btn-default primary-btn">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="event bg-color">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class=" center-text">
                    <div>
                        <div class="format-small-text">
                            <h6 class="font-primary borders-before" style='color:#434345'><span style='color:#434345'>Te estamos Buscando!</span></h6>
                        </div>
                        <div class="format-head-text">
                            <h3 class="about-font-header gradient-text text-center text-white">¿Quienes estan en Parque E?</h3>
                        </div>
                        <br/>
                        <br/>
                        <div class="format-sub-text">
                            <div class="sub-heading">
                                <h4 class="text-center"style='color:#434345'>Emprendimientos basados en conocimiento</h4>
                            </div>
                            <br/>
                            <p class="p-light about-para text-white">Son todas aquellas iniciativas empresariales que se relacionan con el mercado a través de la entrega de un producto o servicio, como resultado del uso intensivo del conocimiento en el desarrollo del proyecto, para incorporar nuevo atributos y características como factor diferencial.</p>
                            <br/>
                            <br/>
                            <br/>
                            <div class="sub-heading">
                                <h4 class="text-center" style='color:#434345'>Alto potencial de crecimiento</h4>
                            </div>
                            <br/>
                            <br/>
                            <p class="p-light about-para text-white">Son emprendimientos que presentan modelos de negocio escalables en el corto plazo, ya sea porque son factibles de incorporarles componentes tecnológicos, o por que el producto o servicio que ofertan al mercado le apunta segmentos masivos de consumidores o satisfacen necesidades de la industria. De igual forma, tiene el potencial de llegar a grandes mercados tanto a nivel local como internacional.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a class="btn btn-default primary-btn m-0-auto" href="javascript:void()">registrar</a>
                </div>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
        </div>
    </div>
</section>
<!-- about section end-->
