
<!--copyright section start-->
<div class="event copyright flex">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="link-horizontal d-flex align-content-lg-center h-100">
                    <ul>
                        <li>
                            <a href="javascript:void()" class="center-content">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void()" class="center-content">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void()" class="center-content">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void()" class="center-content">
                                <i class="fa fa-google" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <p class="copyright-text text-right text-white">© 2019 Parque del Emprendimeinto. Todos los derechos reservados </p>
            </div>
        </div>
    </div>
</div>
<!--copyright section end-->
<app-tap-to-top></app-tap-to-top>
