<!--agency content start-->
<section class="event">
    <div class="circle">
    </div>
</section>
<section class="agency agency-content about-bg">
    <div class="circle">
    </div>
    <h3 class="text-as-shadow">Parque <br/> E</h3>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 offset-xl-3 col-md-9 offset-md-3">
                <div class="agency-header-center-container">
                    <div class="borders"></div>
                    <div class="agency-head">
                        <h3 class="agency-head-text">Ayudamos Emprendimientos <span class="block-span">a Materializar su Sueños</span>
                        </h3>
                    </div>
                </div>

                <p class="agency-para">Somos una <strong>incubadora universitaria de emprendimientos de alto impacto, basados en conocimiento y con alto potencial de crecimiento</strong>, dedicada a poner en marcha proyectos empresariales y a fortalecer empresas de reciente creación, que se proyectan como dinamizadores de la región.</p>
                <p class="agency-para">El Parque del Emprendimiento (Parque E) surge de una alianza entre la <strong>Universidad de Antioquia y la Alcaldía de Medellín</strong>. Actualmente, es un programa adscrito a la Unidad de Innovación que hace parte de la Vicerrectoría de Extensión de la Universidad de Antioquia.</p>
                <p class="agency-para">De igual forma, mediante alianzas con aliados como <strong>Fundación Universidad de Antioquia, Bancolombia, Fundación Augura y Cámara de Comercio de Urabá</strong>, Parque E instaló una sede en la subregión de Urabá, con el propósito de llevar su labor a este territorio antioqueño con alto potencial de desarrollo en el que la Universidad tiene presencia desde hace 25 años.</p>
            </div>
        </div>
    </div>
    <div class="side-img  set-abs left-0 top-0" [@fadeInLeft]="fadeInLeft">
        <div class="plus-container plus-container9">
            <div class="plus white">
            </div>
        </div>
        <div class="plus-container plus-container10">
            <div class="plus plus-medium white">
            </div>
        </div>
        <div class="plus-container plus-container11">
            <div class="plus plus plus-small white">
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <img src="assets/images/agency/about-us/image.png" alt="" class="img-fluid about-img">
    </div>
    <img src="assets/images/agency/agency-abs-img.png" alt="" class="img-fluid blue-img">
</section>
<!--agency content end-->
